html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  padding-left: 0;
  margin: 0;
}

.gallery-item {
  list-style: none;
  width: 640px;
  margin-bottom: 20px;
}

.photo-card {
  position: relative;
}

.stats {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;

  margin-left: 40px;

  color: #fff;
  opacity: 0.9;

  z-index: 2;
}

.stats-item {
  display: flex;
  align-items: center;
}

.stats-item:not(:last-child) {
  margin-right: 40px;
}

.material-icons {
  margin-right: 10px;
}

.load-more-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.is-hidden {
  display: none;
}

.lightbox {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  pointer-events: none;
  transition: opacity var(--animation-duration) var(--timing-function);
  z-index: 10;
}

.lightbox.is-open {
  opacity: 1;
  pointer-events: initial;
}
.lightbox-content {
  position: relative;
}

.lightbox-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
}

.lightbox-image {
  display: block;
  width: auto;
  height: auto;
  max-height: 100vh;
  max-width: 100vw;
  margin-left: auto;
  margin-right: auto;
}

.lightbox-closer {
  color: #fff;
  display: inline-block;
  position: absolute;
  top: 50px;
  right: 50px;
  font-size: 24px;
  padding: 10px 20px;
  border-radius: 50%;
  z-index: 11;
}

.lightbox-closer:hover,
.lightbox-closer:focus {
  background-color: rgb(22, 231, 231);
  cursor: pointer;
  border: rgb(22, 231, 231);
}

.preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% -50%);
}
.btn {
  background-color: blueviolet;
  border: blueviolet;
}
